h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input{
  font-size: 16px;
}

audio {
  width: 100%;
}

button{
  font-size: 14px;
  border-radius: 6px;
  background-color: gray;
  color: white;
  border-style: none;
  padding: 4px 12px;
}

button:hover{
  border-radius: 6px;
  background-color: purple;
  color:white;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

@media (max-width: 425px) {
  #root {
    padding: 0rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  animation: bounce 1s linear alternate-reverse infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(5px, -10px);
  }

  50% {
    transform: translate(5px, 10px);
  }

  75% {
    transform: translate(-5px, -10px);
  }
}