body {
  font-family: system-ui, Avenir, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  margin: auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #7f95db;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-width: 320px;
  min-height: 100vh;
}