[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
honcho = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
requests = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
