.comments-container{
    padding: 0 10px;
    text-align: left;
}

.comment{
    margin-bottom: 20px;
}

.comment-row{
    display: flex;
    flex-flow: row;
    align-items: left;
}

.comment-author{
    padding-right: 10px;
}

.comment-body{
    text-align: left;
    background-color: lightblue;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
}

button {
    flex-basis: 1;
    box-sizing: border-box; 
    margin-left: 10px;
}
form {
    width: 100%;
}

input {
    box-sizing: border-box; 
    width: 100%;
    border-style: none;
    border-radius: 12px;
    padding: 10px;
}