.episode-result{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.episode-left{
    flex-grow: 3;
}

.episode-podcast-image {
    padding-right: 10px;
}
.episode-podcast-image img{
    width: 100px;
    object-fit: contain;
}

.episode-podcast-title{
    color: darkgray;
    font-size: 0.8em;
}

.episode-date{
    color: darkgray;
    font-size: 0.8em;
}

.episode-description{
    color: rgb(136, 135, 135);
    font-size: 0.9em;
}

.episode-audio{
    text-align: center;
    padding: 10px;
}

.episode-play-toggle button{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
}