.episode-result{
    padding: 10px;
}

.episode-podcast-title{
    color: darkgray;
    font-size: 0.8em;
}

.episode-audio{
    text-align: center;
    padding: 10px;
}

.episode-play-toggle button{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
}