.list-item {
  background-color: rgb(237, 237, 237);
  border-radius: 6px;
  margin-bottom: 6px;
  overflow: hidden;
  color: rgb(83, 83, 83);
  text-align: left;  
}

@media (max-width: 425px) {
  .list-item {
    margin: 0px;
    border-radius: 0px;
    border-bottom: solid lightgray;
  }
}