.spacer{
  height: 100px;
}

.bottom-bar .logo{
  object-fit: contain;
  width: 50px;
}

.episode-info{
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-around;
  padding: 0px;
  font-size: 0.8em;
}

.episode-info img{
  object-fit: contain;
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  border-radius: 20%;
}

.bottom-bar{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(20, 21, 54);
  
}

.bottom-bar a{
  color: rgb(239, 217, 254);
}

.episode-info button{
  margin-right: 10px;
  padding: 2px 5px;
}

.episode-info span{
  margin-right: 10px;
}

.player{
  max-width: 800px;
  width: 100%;
  padding: 0px 10px 20px 10px;
}

.player .audio{
  margin: 0 10px 0 10px;
}

.player audio{
  width: 100%;
}

.nav-bar{  
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  align-items: center;
  height: 50px;
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

@media (max-width: 425px) {
  .nav-bar {
    justify-content: space-around;
  }
}

.nav-link {  
  padding: 10px 10px 24px 10px;
  text-decoration: none;
}

.nav-link.active {
  padding: 10px 10px 24px 10px;
  background-color:blueviolet;
  color: white;
  height: 100%;
  border-radius: 12px;
}