.spacer{
  height: 100px;
}

.logo{
  object-fit: contain;
  width: 50px;
}
.nav-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  align-items: center;
  background-color: azure;
  height: 50px;
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

@media (max-width: 425px) {
  .nav-bar {
    justify-content: space-around;
  }
}

.nav-link {
  
  padding: 10px 10px 24px 10px;
  text-decoration: none;
}

.nav-link.active {
  padding: 10px 10px 24px 10px;
  background-color:blueviolet;
  color: white;
  height: 100%;
  border-radius: 12px;
}