.podcast-result{
  display: flex;
  flex-flow: row nowrap;
  color: rgb(83, 83, 83);
  text-align: left;  
  align-items: center;
  justify-content: left;
  padding-right: 12px;
}

.podcast-data{
  display: flex;
  flex-flow: column;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.podcast-name  {  
  overflow-wrap: break-word;
}

.podcast-name a {  
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.podcast-image {
  height: 100px;
}

.podcast-follow {
  text-align: right;
}

.podcast-follow button{
  border-radius: 6px;
  border-color: purple;
  border-width: 1px;
}

.podcast-follow button:hover{
  border-radius: 6px;
  background-color: purple;
  color:white;
}