.search-bar{
  margin: 20px 0 20px 0;  
  width: 100%;
  
}

::placeholder {
  color: rgb(209, 209, 209);
  opacity: 1; /* Firefox */
}

.search-bar-input{
  background-color: gray;
  color: white;
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box; 
  margin: auto;
  max-width: 400px;
  padding: 12px;
  text-align: left;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}